.switch {
  position: relative;
  width: 45px;
  height: 22px;
}

.switch input {
  display: none;
}

.slider {
  background: #ccc;
  border-radius: 22px;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

input:checked + .slider {
  background: #1976d2;
}

input:checked + .slider::before {
  transform: translateX(22px);
}
